.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log
*.sqlite3
.DS_Store
*.swp
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.vscode/
.idea/
.tools/
logs/
**/logs/
*.keras
*.h5
*.pt
!aerial_project/models/custom_cnn_best.keras
!aerial_project/models/tl_efficientnetb0_p1_best.keras
!yolov8n.pt
*.csv
*.tfrecord
*.tmp
*.temp
