.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log
*.sqlite3
.DS_Store
*.swp
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.vscode/
.idea/
.tools/
logs/
**/logs/
*.keras
*.h5
*.pt
*.csv
*.tfrecord
*.tmp
*.temp
